body {
	background:#f3f0d6ed;
}


h1 {
	margin-left:35%;
	margin-bottom:3%;
	font-family: monospace;
	height: 2%;
	animation: welcome 7s;
	animation-iteration-count: 1;
}

@keyframes welcome {
	0% {opacity:0;}
	20% {opacity:20;}
	40% {opacity:40;}
	60% {opacity:60;}
	80% {opacity:80;}
	100% {opacity:100;}
}



table {
	margin-left: 15%;
	background:#000000;
	width: 95%;
}

form {
	margin-top: 5%;
	margin-left: 25%;
}

tr:nth-child(odd) td:nth-child(2n){
	background:#fdf1dd;
}

tr:nth-child(odd) td:nth-child(2n+1) {
	background:#b6946e;
}

tr:nth-child(even) td:nth-child(2n+2) {
	background:#b6946e;
}

tr:nth-child(even) td:nth-child(2n+3) {
	background:#fdf1dd;
}


th {
	padding:0;
	font-size: 300%;
	width:80px;
	height:70px;
	text-align: center;
	background: darkgray;
	color:white;
}

td {
	padding:0;
	font-size: 60px;
	width:70px;
	height:auto;
	text-align: center;
}

td:hover {
    outline: 2px solid red;
}

.hidden {
	color :#fdf1dd;
	pointer-events: none;
}

label {
	margin-left:3%;
}

label:hover {
	color:red;
	outline: 2px solid red;
}

#centre {
	float:left;
	margin-bottom:2%;
}


#boiteReponse {
	display: inline-block;
}


#nav_droite {
	float: left;
    margin-left: 8%;
    background-color: fdf1dd;
    padding: 1%;
	border: 1px solid;
	width : 25%;
}


#listes ,listesRep{
	border:1px solid #000;
	font-family:arial;
	height:100px;
  }

  ul{
	list-style:none;
	max-height:100px;
	margin:0;
	overflow:auto;
	padding:0;
	text-indent:10px;
  }
  li{
	line-height:25px;
  }
  li:nth-child(even){
	background:#ccc;
  }

  textarea {
	  width : 100%;
  }